# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [303]:
import pandas as pd
import numpy as np
import sys
sys.path.append(r"G:\My Drive\Ironhack")

from helper import clean_title

In [304]:
# Your code goes here
df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")
df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")

In [305]:
df1.columns = clean_title(df1)
df2.columns = clean_title(df2)
df3.columns = clean_title(df3)

In [306]:
df2 = df2.rename(columns={"st": "state"})
df3 = df3.rename(columns={"st": "state"})

In [307]:
df_combined = pd.concat([df1, df2, df3], axis=0, ignore_index=True)
df_combined.head()

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0.0,104.0,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0.0,66.0,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820.0,82.0,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0.0,121.0,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.95848,High School or Below,M,30366.0,101.0,2,Personal Auto,484.800000,SUV

In [308]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12074 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   customer_lifetime_value    9130 non-null   object
 3   education                  9137 non-null   object
 4   gender                     9015 non-null   object
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   object
 8   policy_type                9137 non-null   object
 9   total_claim_amount         9137 non-null   float64
 10  vehicle_class              9137 non-null   object
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [309]:
df_combined.drop_duplicates(inplace=True)
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9135 entries, 0 to 12073
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9134 non-null   object
 1   state                      9134 non-null   object
 2   customer_lifetime_value    9127 non-null   object
 3   education                  9134 non-null   object
 4   gender                     9012 non-null   object
 5   income                     9134 non-null   float64
 6   monthly_premium_auto       9134 non-null   float64
 7   number_of_open_complaints  9134 non-null   object
 8   policy_type                9134 non-null   object
 9   total_claim_amount         9134 non-null   float64
 10  vehicle_class              9134 non-null   object
dtypes: float64(3), object(8)
memory usage: 856.4+ KB

In [316]:
# data cleaning
df_combined["customer_lifetime_value"] = df_combined["customer_lifetime_value"].apply(lambda x: x if isinstance(x, float) else float(x.replace("%", ""))) # transform CLV column to float
df_combined.dropna(subset="customer", inplace=True) # remove empty row which was not remove with duplicated
df_combined["customer_lifetime_value"] = df_combined["customer_lifetime_value"].fillna(df_combined["customer_lifetime_value"].median()) # fill nana in CLV
# gender NAN left as is
df_combined["education"] = df_combined.education.replace({"Bachelor":"Bachelors"})
df_combined["state"].replace({"WA":"Washington", "AZ": "Arizone", "Cali": "California"}, inplace=True) # clean state column
df_combined["gender"] = df_combined["gender"].apply(lambda x: "F" if str(x).lower().startswith("f") else "M" if str(x).lower().startswith("m") else "U") # clean gender
df_combined["number_of_open_complaints"] = df_combined["number_of_open_complaints"].apply(lambda x: int(x.split("/")[1]) if isinstance(x,str) else x)
df_combined.reset_index(inplace=True)

In [319]:
df_combined.isnull().sum().sum()

0

In [318]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   level_0                    9134 non-null   int64
 1   index                      9134 non-null   int64
 2   customer                   9134 non-null   object
 3   state                      9134 non-null   object
 4   customer_lifetime_value    9134 non-null   float64
 5   education                  9134 non-null   object
 6   gender                     9134 non-null   object
 7   income                     9134 non-null   float64
 8   monthly_premium_auto       9134 non-null   float64
 9   number_of_open_complaints  9134 non-null   int64
 10  policy_type                9134 non-null   object
 11  total_claim_amount         9134 non-null   float64
 12  vehicle_class              9134 non-null   object
dtypes: float64(4), int64(3), object(6)
memory usage: 927.8+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [320]:
# Your code goes here
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

In [321]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [322]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [325]:
df[["monthly_premium_auto"]].mean()

monthly_premium_auto    93.196059
dtype: float64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [ ]:
df_sales_channel = df.pivot_table(index="sales_channel", values="monthly_premium_auto", aggfunc='sum')
df_sales_channel.round(2)

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [339]:
df_gender_clv = df.pivot_table(index=["gender", "education"], values="customer_lifetime_value", aggfunc="mean")
df_gender_clv = df_gender_clv.round(2)
df_gender_clv

                             customer_lifetime_value
gender education
F      Bachelor                              7874.27
       College                               7748.82
       Doctor                                7328.51
       High School or Below                  8675.22
       Master                                8157.05
M      Bachelor                              7703.60
       College                               8052.46
       Doctor                                7415.33
       High School or Below                  8149.69
       Master                                8168.83

In [343]:
df_gender_clv.loc["M"] - df_gender_clv.loc["F"]

                      customer_lifetime_value
education
Bachelor                              -170.67
College                                303.64
Doctor                                  86.82
High School or Below                  -525.53
Master                                  11.78

In [344]:
# in general, higher education leads to lower CLV
# for males, the effect is stronger than for women

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [350]:
# Your code goes here
df_bonus = df.pivot_table(index=["policy_type", "month"], values="number_of_open_complaints", aggfunc="count", )
df_bonus.reset_index()

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                       1252
1  Corporate Auto      2                       1089
2   Personal Auto      1                       4329
3   Personal Auto      2                       3799
4    Special Auto      1                        237
5    Special Auto      2                        204